.blur-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.uploader-container {
  display: flex;
}

.uploader-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* filter: blur(5px); */
  /*/ background: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background */
  z-index: 1;
}

.uploader-content {
  align-self: center;
  position: relative;
  z-index: 2;
  text-align: center;
  color: white; /* Adjust text color if needed */
  text-align: left;
}
